{{ 'custom-image-grid.css' |  asset_url |  stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }
  @media only screen and (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
   }

  {% for block in section.blocks %}
    .custom-image-grid__text-alignment-{{ block.id}}{
      text-align: {{ block.settings.text_alignment}}
     }
    .custom-image-grid__heading-{{ block.id }}{
      color: {{ block.settings.heading_text_color}}
     }
    .custom-image-grid__button-{{ block.id }}{
      color: {{ block.settings.button_color }};
      background: {{ block.settings.button_background}}
     }
    .custom-image-grid__button-{{block.id}}:hover{
     color:#D03C3F;
     background-position: -100% 0;
     background-image: linear-gradient(to right, transparent 50%, #e8e6e6 50%);
     background-size: 200% 100%;
     transition: background-position 0.3s ease-in-out;
     }
  {% endfor %}
{% endstyle %}


<div class="custom-image-grid padding-{{ section.id }}">
    <div class="page-width">
        <div class="grid grid--1-col grid--2-col-desktop">
           {% for block in section.blocks %}
                {% if block.settings.image != blank %}
                    <div class="grid__item custom-border-radius custom-image-grid__wrapper">
                        {% if block.settings.image != blank %}
                            <div class="custom-image-grid__image-container">
                                {% render 'responsive-picture',
                                    class: 'media media--landscape custom-border-radius custom-image-grid__image',
                                    desktopImage: block.settings.image,
                                    mobileImage: block.settings.mobile_image
                                %}
                            </div>
                        {% else %}
                            <div class="media media--landscape custom-border-radius">
                                {{ 'detailed-apparel-1' | placeholder_svg_tag }}
                            </div>
                        {% endif %}
                        <div class="custom-image-grid__text custom-image-grid__text-alignment-{{ block.id }}">
                            <div class="custom-image-grid__text-inner">
                                {% if block.settings.tagline_text  != blank %}
                                    <ul class="bnr_caption inline-richtext out-text">
                                        <li>{{ block.settings.tagline_text }}</li>
                                    </ul>
                                {% endif %}
                                {% if block.settings.heading_text != blank %}
                                    <h3 class="h1 hl richtext custom-image-grid__heading custom-image-grid__heading-{{ block.id }} "> {{ block.settings.heading_text }}</h3>
                                {% endif %}
                                {% if block.settings.button_label != blank %}
                                    <a class="button custom-image-grid__button custom-image-grid__button-{{ block.id }}" href="{{ block.settings.button_link }}">
                                        {{ block.settings.button_label }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="grid__item custom-border-radius custom-image-grid__wrapper">
                        <div class="custom-image-grid__image-container">
                            {{ 'image' | placeholder_svg_tag }}
                        </div>
                    </div>
                {% endif %}
           {% endfor %}
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Custom Image with Grids",
  "settings": [
    {
      "type": "header",
      "content": "Adjust Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "grid-items",
      "name": "Grid Items",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Desktop Image Suggested Size 1240*550"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Mobile Image Suggested Size 450*450"
        },
        {
          "type": "text",
          "id": "tagline_text",
          "label": "Tag Line Text",
          "default": "Tag Goes Here"
        },
        {
          "type": "color",
          "id": "tagline_color",
          "label": "Tag Line color",
          "default": "#fff"
        },
        {
          "type": "richtext",
          "id": "heading_text",
          "label": "Heading Text"
        },
        {
          "type": "color",
          "id": "heading_text_color",
          "label": "Heading Text color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Explore More"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "color",
          "id": "button_background",
          "label": "Button background",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Button color",
          "default": "#000000"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Text Alignment",
          "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "end",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "text_alignment_mobile",
          "label": "Text Alignment (Mobile)",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Image with Grids"
    }
  ]
}
{% endschema %}
